body {
  font-family: helvetica, arial, sans-serif;
  margin: 0em;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
  font-style: bold;
  color: black;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  font-size: 45px;
}
h1 span {
  font-size: 30px;
  position: absolute;
  padding: 40px 40px 10px 230px;
}
h2 {
  font-style: normal;
  color: black;
  font-family: "Open Sans", sans-serif;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  
}
h3 {
  font-style: bold;
  color: #0070C9;
  font-family: "Open Sans", sans-serif;
  padding: 0px 4px 0px 0px;
}
h4 {
  font-style: normal;
  color: #0070C9;
  font-family: "Open Sans", sans-serif;
  padding: 0px 2px 0px 0px;
  font-size: 20px;
}
h5 {
  font-style: bold;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 1270px; /* The exact location of the text from the top of the image*/
  left:  610px; /* Other beautification stuff */
  width: 100%;
  padding-top: 20px;
}
h5 span {
  font-size: 23px;
  position: absolute;
  padding: 80px;
  padding-left: 60px;
}
h6 {
  font-style: normal;
  color: #0070C9;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 1440px; /* The exact location of the text from the top of the image*/
  padding-left: 668px;/* Other beautification stuff */
  width: 100%;
  padding-bottom: 0px;
}
p {
  position: absolute;
  padding: 170px 0px 0px 360px;
  color: #0070C9;
}
p span {
  color: white;
  padding: 0px 0px 0px 700px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
  position: relative;
  display: flex;
}

li {
  float: left;
}

li a {
  display: block;
  width: 100%;
  color: #DCDCDC;
  text-align: center;
  padding: 12px 12px 12px 45px;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 10px;
}

ul li:hover a {
  color: white;
}
.help {
  margin: 0;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  background-color: #F5F5F7;
}



ul li:hover a {
  color: white;
}
* {
  box-sizing: border-box;
}
.img-container-a {
  background-color: #FBFBFD;
  width: 33.33%;
  float: left;
  padding: 10px;
  margin-left: 320px;
  margin-right: 20px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .img-container-a {
    width: 100%;
  }

.img-container-b {
  background-color: black;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .img-container-b {
    width: 100%;
  }

.margin {
  margin: 10px 20px 10px 250px;
}
  
.imageleft {
    float: left;
    padding: 10px -20px 20px 0px;
    display: inline-block;
    width: 50%;
  }

  .imagebox {
    display: inline-block;
    position: relative;
    float: left;
    max-width: 1599px;
  }